ansi2html==1.3.0
argh==0.26.2
certifi==2017.11.5
chardet==3.0.4
colorama==0.3.9
Cython==0.27.3
Django==1.11.20
django-appconf==1.0.2
django-compressor==2.2
django-impersonate==1.3
django-jinja==2.4.1
django-mptt==0.8.7
-e git://github.com/DMOJ/django-pagedown.git@38192ccdcfe6e5c8cc2268591db2411d2db9f791#egg=django_pagedown
django-registration-redux==1.9
django-reversion==2.0.12
django-select2==6.0.0
django-sendgrid-v5==0.6.87
django-social-share==1.1.2
django-sortedm2m==1.5.0
django-statici18n==1.5.0
django-summernote==0.8.8.5
-e git://github.com/DMOJ/dmoj-wpadmin.git@c61a40b9ec6d4e2c83640e97fa101525082d925a#egg=django_wpadmin
-e git+https://github.com/alps-jbnu/litmus-judge@07421be39955bc0834956ceed94ee6e8303a9877#egg=dmoj
idna==2.6
Jinja2==2.10
llist==0.5
lxml==4.1.1
MarkupSafe==1.0
mistune==0.8.3
mysqlclient==1.3.12
oauthlib==2.0.6
pathtools==0.1.2
pika==0.11.2
Pygments==2.2.0
PyJWT==1.5.3
pylru==1.2.0
PyMySQL==0.8.0
python-http-client==3.0.0
python-openid==2.2.5
pytz==2017.3
PyYAML==3.12
rcssmin==1.0.6
requests==2.20.0
requests-oauthlib==0.8.0
rjsmin==1.0.12
sendgrid==3.6.5
sendgrid-django==4.2.0
setproctitle==1.1.10
six==1.11.0
social-auth-app-django==2.1.0
social-auth-core==1.6.0
termcolor==1.1.0
ua-parser==0.7.3
urllib3==1.22
uWSGI==2.0.15
watchdog==0.8.3
websocket-client==0.47.0
