<div style="display:block;margin: 0 2px;padding: 1em;background-color: #111;color: #333;overflow: hidden;box-sizing:border-box;">
  <div style="display:table;margin-left:2em; ">
    <a href="http://{{ site.domain }}" style="text-decoration:none;color:#eee;">
        <img src="http://litmus.ga:8000/static/icons/logo-site-bordered.png" style="font-size: 6em;font-weight: bold;font-family: monospace, sans-serif;display:inline;vertical-align: middle" alt="Litmus">
    </a>
  </div>
</div>
<div style="display:block;margin: 0 2px;padding: 1em;background-color: #f8f8f8;font-size: .95em;color: #333;">

<p><b>{{ site.name }}에 가입해주셔서 감사합니다!</b> 진심으로 환영합니다.<br><br></p>
<p>회원님께서는 <u>{{ SITE_NAME }}</u>를 이용하기 위하여 <b>7일 이내에</b> 계정을 활성화해야합니다.<br>활성화를 위한 인증 코드는 다음과 같습니다.</p>
<pre style="padding:2em;text-align: center; background-color: #eee;">
{{ activation_key }}
</pre>

<p>또는 아래의 버튼을 클릭하여 인증을 완료할 수 있습니다.
<p align="center">
<a href="http://{{ site.domain }}/accounts/activate/{{ activation_key }}/" style="cursor: pointer;display:block;text-align: center;padding: 3px 6px;color: white;border: 1px solid #4A89DC;border-radius: 2px;background: #5D9CEC;text-decoration: none;font-size:1.2em;width:100%; max-width:150px;">인증 완료</a>
</p>
</div>
