{% extends "base.html" %}

{% block media %}
    <style>
        #login-panel {
            position: relative;
            margin: 5em auto auto -10em;
            top: 40%;
            left: 50%;
        }

        h4 {
            padding-top: 1em;
        }

        .social {
            display: inline;
            font-size: 2.3em;
            float: none;
        }

        .google-icon i {
            color: #DD4B38;
        }

        .facebook-icon i {
            color: #133783;
        }

        .github-icon i {
            color: black;
        }

        .dropbox-icon i {
            color: #55ACEE;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="ui vertical segment" style="max-width: 480px; margin:0 auto; padding: 5em 0;border:0">
        <form class="ui large login form" method="POST">
          {% csrf_token %}
          <div class="ui error message" {% if form.errors %} style="display: block;" {% endif %}>
            <p>{{ _('Invalid username or password.') }}</p>
          </div>
          <div class="ui stacked segment">
            <div class="field">
              <div class="ui left icon input">
                <i class="user icon"></i>
                {{ form.username }}
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="lock icon"></i>
                {{ form.password }}
              </div>
            </div>
            <div class="ui fluid large teal submit button">{{ _('Login!') }}</div>
            <input type="hidden" name="next" value="{{ next }}">
          </div>

          <a href="{{ url('password_reset') }}">{{ _('Forgot your password?') }}</a>

        {% if form.has_google_auth or form.has_facebook_auth or form.has_github_auth or form.has_dropbox_auth %}
            <h4>{{ _('Or log in with...') }}</h4>
            {% if form.has_google_auth %}
                <a href="{{ url('social:begin', "google-oauth2") }}?next={{ next }}" class="social google-icon">
                    <i class="fa fa-google-plus-square"></i>
                </a>
            {% endif %}
            {% if form.has_facebook_auth %}
                <a href="{{ url('social:begin', "facebook") }}?next={{ next }}" class="social facebook-icon">
                    <i class="fa fa-facebook-square"></i>
                </a>
            {% endif %}
            {% if form.has_github_auth %}
                <a href="{{ url('social:begin', "github-secure") }}?next={{ next }}" class="social github-icon">
                    <i class="fa fa-github-square"></i>
                </a>
            {% endif %}
            {% if form.has_dropbox_auth %}
                <a href="{{ url('social:begin', "dropbox-oauth2") }}?next={{ next }}" class="social dropbox-icon">
                    <i class="fa fa-dropbox"></i>
                </a>
            {% endif %}
        {% endif %}
        </form>
    </div>
    <script>$(document).ready(function(){$(".login.form").form({fields: {username : 'empty',password : 'empty'}});});</script>
{% endblock %}
