{% extends "base.html" %}

{% block body %}
    <div class="ui vertical segment">
        <div class="ui stacked segment" style="max-width:480px;margin:0 auto;">
            {% if validlink %}
                <form action="" method="post" class="ui large form">
                    {% csrf_token %}
                    {{ form.as_p() }}
                    <div class="ui divider"></div>
                    <button class="ui primary button" type="submit">{{ _('Reset Password') }}</button>
                </form>
            {% else %}
                <p>Invalid password reset link.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
