{% extends "base.html" %}

{% block media %}
    {% include "timezone/media-css.html" %}
    {{ form.media.css }}
    <style>
        ul.errorlist {
            margin: 0px;
            padding-left: 1em;
            text-align: left;
        }
    </style>
{% endblock %}

{% block js_media %}
    {% include "timezone/media-js.html" %}
    {{ form.media.js }}
    <script type="text/javascript">
        $(function () {
            $('.pass-req-link').click(function () {
                $('.pass-req').toggle('fast');
                return false;
            });
        });
    </script>
    {% if form.captcha %}
        {{ recaptcha_init(LANGUAGE_CODE) }}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="ui vertical segment" style="max-width: 480px; margin:0 auto; padding: 2em 0;border:0">
        <form class="ui large register form" method="POST">
            {% csrf_token %}
            <div class="ui error message" {% if form.errors %} style="display: block;" {% endif %}>
                <p>{{ form.errors }}</p>
            </div>

            <div class="ui stacked left aligned segment">
                <div class="field {% if form.username.errors %}error{% endif %}">
                    <label>{{ _('Username') }}</label>
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        {{ form.username }}
                    </div>
                </div>
                <div class="field {% if form.email.errors %}error{% endif %}">
                    <label>{{ _('Email') }}</label>
                    <div class="ui left icon input">
                        <i class="mail icon"></i>
                        {{ form.email }}
                    </div>
                </div>
                <div class="ui info message" style="text-align: left;">
                    {% for validator in password_validators %}<li>{{ validator.get_help_text() }}</li>{% endfor %}
                </div>
                <div class="field {% if form.password1.errors %}error{% endif %}">
                    <label>{{ _('Password') }}</label>
                    <div class="ui left icon input">
                        <i class="unlock icon"></i>
                        {{ form.password1 }}
                    </div>
                </div>
                <div class="field {% if form.password2.errors %}error{% endif %}">
                    <label>{{ _('Password') }} <small>{{ _('(again, for confirmation)') }}</small></label>
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        {{ form.password2 }}
                    </div>
                </div>

                <div class="field">
                    <label><i class="world icon"></i> {{ _('Timezone') }} <small>{{ _('(select your closest major city)') }}</small></label>
                    <div class="ui left input">
                        {{ form.timezone }}
                    </div>
                </div>

                <div class="field">
                    <label><i class="code icon"></i> {{ _('Default language') }}</label>
                    <div class="ui left input">
                        {{ form.language }}
                    </div>
                </div>

                <!-- extra infomations -->
                {% if tos_url %}
                    <div class="inline field">
                        <div class="ui checkbox">
                            <input type="checkbox" name="agree_tos" id="agree_tos" />
                            <label>
                                {{ _('By registering, you agree to our') }}
                                <a href="{{ tos_url }}">{{ _('Terms & Conditions') }}</a>.
                            </label>
                        </div>
                    </div>
                {% endif %}

                {% if form.newsletter %}
                    <div style="padding-top: 0.5em;">{{ form.newsletter }}
                        <label for="id_newsletter" style="float: unset;"
                               class="inline-header grayed">{{ _('Notify me about upcoming contests') }}</label>
                    </div>
                {% endif %}

                {% if form.captcha %}
                    <div style="margin-top: 0.5em">{{ form.captcha }}</div>
                    {% if form.captcha.errors %}
                        <div class="form-field-error">{{ form.captcha.errors }}</div>
                    {% endif %}
                {% endif %}

                <div class="ui fluid large teal submit button">{{ _('Register!') }}</div>
            </div>
        </form>
    </div>
    <script type="text/javascript">$(document).ready(function(){
        $(".register.form").form({
            fields: {
                username: ['minLength[4]', 'empty'],
                email: ['email', 'empty'],
                password1: ['minLength[8]', 'empty'],
                password2: 'match[password1]',
                agree_tos: 'checked'
            }
        });
        $("input[type=checkbox]").checkbox();
    });</script>
{% endblock %}
