{% extends "user/base-users.html" %}

{% block title_ruler %}{% endblock %}

{% block title_row %}
    {% set title = contest.name %}
    {% include "contest/contest-tabs.html" %}
{% endblock %}

{% block users_media %}
    <style>
        #content-left {
            overflow-x: scroll;
        }

        #users-table .username {
            min-width: 25em;
        }

        #users-table td {
            height: 2.5em;
        }

        #users-table a {
            display: block;
        }

        .userinfo a {
            display: inline !important;
        }

        #users-table td a:hover {
            text-decoration: underline;
        }

        .rank {
            min-width: 2.5em
        }

        .points {
            min-width: 4em;
        }

        .full-score, .full-score a {
            font-weight: bold;
            color: white;
            background-color: #52d889;
        }

        .partial-score, .partial-score a {
            color: #A17917;
            background-color: #FFB94E;
        }

        .failed-score, .failed-score a {
            font-weight: bold;
            color: white;
            background-color: #E68364;
        }

        .pretest-full-score, .pretest-full-score a {
            font-weight: bold;
            color: #2980b9;
        }

        .pretest-partial-score, .pretest-partial-score a {
            color: #2980b9;
        }

        .pretest-failed-score, .pretest-failed-score a {
            font-weight: bold;
            color: red;
        }

        .user-points {
            font-weight: bold;
            color: black;
        }
        .user-points .solving-time {
            color: #999999;
        }

        .full-score .solving-time,
        .partial-score .solving-time,
        .failed-score .solving-time {
            color: rgba(255, 255, 255, .7);
        }


        .solving-time {
            color: #999999;
            font-weight: normal;
            font-size: 0.75em;
            padding-bottom: -0.75em;
        }

        .point-denominator {
            border-top: 1px solid gray;
            font-size: 0.7em;
        }

        .start-time {
            display: none;
        }

        .user-name {
            position: relative;
        }

        .organization-column {
            display: none;
            text-align: left !important;
            border-right: none !important;
        }

        .organization-column a {
            color: gray !important;
            font-weight: 600;
        }
    </style>

    {% if has_rating %}
        <style>#users-table .rate-box {
            font-size: 0.85em;
            float: left;
        }

        #users-table td:nth-child(1) .rating {
            margin-left: 1.25em;
            display: block;
        }

        #users-table td:nth-child(2) a {
            display: block;
        }
        </style>
    {% endif %}

    <style>
        .select2-selection__arrow {
            display: none;
        }

        .select2-selection__rendered {
            cursor: text;
            overflow: initial !important
        }

        .select2-results__option--highlighted {
            background-color: #DEDEDE !important;
        }

        .select2-results__option {
            white-space: nowrap;
        }

        #search-contest, #search-contest + .select2 {
            margin-top: 0.5em;
        }

        #search-contest {
            width: 200px;
            height: 2.3em;
        }
    </style>
{% endblock %}

{% block users_js_media %}
    {% if perms.judge.change_contestparticipation %}
        <script type="text/javascript">
            $(function () {
                $('td.user').find('a.user-name').click(function (e) {
                    var data = $(this).siblings('.edit-participation');
                    if (e.altKey && data.length) {
                        window.open(data.attr('data-link'), '_blank');
                        return false;
                    }
                });
            });
        </script>
    {% endif %}
    {% if not contest.ended %}
        <script type="text/javascript">
            $(function () {
                window.install_tooltips = function () {
                    $('td.user').find('a.user-name').each(function () {
                        var link = $(this);
                        link.mouseenter(function (e) {
                            var start_time = link.siblings('.start-time').text();
                            link.addClass('tooltipped tooltipped-e').attr('aria-label', start_time);
                        }).mouseleave(function (e) {
                            link.removeClass('tooltipped tooltipped-e').removeAttr('aria-label');
                        });
                    });
                };

                install_tooltips();
            });
        </script>
    {% endif %}
    <script type="text/javascript">
        $(function () {
            var url = '{{ url('contest_participation', contest.key, '__username__') }}';
            var placeholder = $('#search-contest').replaceWith($('<select>').attr({
                id: 'search-contest'
            })).attr('placeholder');

            $('#search-contest').select2({
                placeholder: placeholder,
                ajax: {
                    url: '{{ url('contest_user_search_select2_ajax', contest.key) }}'
                },
                minimumInputLength: 1,
                escapeMarkup: function (markup) {
                    return markup;
                },
                templateResult: function (data, container) {
                    return ('<img class="user-search-image" src="' + data.gravatar_url + '" width="24" height="24">' +
                        '<span class="' + data.display_rank + ' user-search-name">' + data.text + '</span>');
                }
            }).on('change', function () {
                window.location.href = url.replace('__username__', $(this).val());
            });

            $('#show-organizations-checkbox').click(function () {
                $('.organization-column').toggle();
            });
        });
    </script>
    {% include "contest/media-js.html" %}
{% endblock %}

{% block users_table %}
    <div style="margin-bottom: 0.5em">
        {% if tab == 'participation' %}
            {% if contest.start_time <= now or perms.judge.see_private_contest %}
                <input id="search-contest" type="text" placeholder="{{ _('View user participation') }}">
            {% endif %}
        {% endif %}
        <input id="show-organizations-checkbox" type="checkbox" style="vertical-align: bottom">
        <label for="show-organizations-checkbox" style="vertical-align: bottom">{{ _('Show organizations') }}</label>
    </div>

    <a id="help-scoring" class="ui blue icon button">
        <i class="fa fa-fw fa-question-circle"></i>
        순위 계산
    </a>

    {% include "contest/ranking-table.html" %}

    <div class="ui tiny modal" id="scoring">
        <i class="close icon"></i>
        <div class="header">
            순위 계산 공식
        </div>
        <div class="content">
            <div class="description">
                <div class="ui header">ACM-ICPC <a href="https://icpc.baylor.edu/regionals/rules#HScoringofaRegionalContest" target="_blank">Rule</a>을 따릅니다.</div>
                <p>해결한 문제가 많고 패널티가 적을수록 순위가 높습니다!</p>
                <p>맞을 때 까지 시도한 제출 중 오답은 <b>20분의 패널티</b>를 가지므로 주의하세요.</p>
                <p>예를 들어, A번 문제를 3번 틀리고 대회 시작 후 7분에 맞추었다면<br>패널티는 <span class="ui basic label">3회 * 20 = 60분 + 7분 = 67분</span>입니다.</p>
                <p>맞추지 못한 문제의 패널티는 반영되지 않습니다.</p>
            </div>
        </div>
        <div class="actions">
            <div class="ui positive right labeled icon button">
                알겠습니다
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>

    <script type="text/javascript">$(document).ready(function(){$('#scoring').modal('attach events', '#help-scoring', 'show');});</script>
{% endblock %}
