{% extends "base.html" %}
{% block media %}
    {{ form.media.css }}
    <style>
        #content > h2:first-child small {
            color: #999;
            font-size: 0.9em;
            margin-left: 0.3em;
        }

        #content > h2:first-child .status, #content > h2:first-child .title {
            display: inline;
        }

        #content > h2:first-child .fa-check-circle-o {
            color: #00a900;
        }

        #content > h2:first-child .fa-exclamation-circle {
            color: darkred;
        }

        a.edit-notes {
            float: right;
        }

        #ticket-notes .info-real :first-child {
            margin-top: 0;
        }

        #ticket-notes .info-real :last-child {
            margin-bottom: 0;
        }

        .sidebox.sticky { z-index: 1; }
    </style>
{% endblock %}

{% block js_media %}
    {{ form.media.js }}
    <script src="{{ static('libs/featherlight/featherlight.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript" src="{{ static('event.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            var $h2 = $('#content').find('> h2:first-child');
            var $status = $h2.find('.status i'), $title = $h2.find('.title');

            function update_ticket_state(open) {
                if (open)
                    $status.removeClass('fa-check-circle-o').addClass('fa-exclamation-circle');
                else
                    $status.removeClass('fa-exclamation-circle').addClass('fa-check-circle-o');
                $('.close-ticket').toggle(open);
                $('.open-ticket').toggle(!open);
            }

            $('.close-ticket, .open-ticket').click(function () {
                var open = $(this).attr('data-open') == '1';
                $.ajax({
                    url: $(this).attr('data-ajax'), type: 'POST',
                    success: function () {
                        update_ticket_state(open);
                    },
                    error: function (data) {
                        alert('Could not change ticket: ' + data.responseText);
                    }
                });
            });

            $('.edit-notes').featherlight({
                afterOpen: function () {
                    var $form = $('#edit-notes');
                    $form.find('.submit').click(function () {
                        $.post($form.attr('action'), $form.serialize()).done(function (data) {
                            $('#ticket-notes').find('.info-empty').toggle(!data).end().find('.info-real').html(data);
                            $.featherlight.current().close();
                        });
                        return false;
                    });
                }
            });

            var page_ref_key = 'ticket:open:{{ ticket.id }}', page_close_key = page_ref_key + ':close';
            var page_ref;

            function increase_page_ref() {
                if (page_ref_key in localStorage)
                    localStorage[page_ref_key] = page_ref = +localStorage[page_ref_key] + 1;
                else
                    localStorage[page_ref_key] = page_ref = 1;
            }

            function decrease_page_ref() {
                if (page_ref_key in localStorage) {
                    localStorage[page_close_key] = page_ref;
                    delete localStorage[page_close_key];
                    localStorage[page_ref_key] = +localStorage[page_ref_key] - 1;
                }
                page_ref = null;
            }

            function is_highest_ref() {
                console.log(localStorage[page_ref_key], page_ref);
                if (page_ref_key in localStorage)
                    return +localStorage[page_ref_key] == page_ref;
                return true;
            }

            $(window).on('storage', function (e) {
                e = e.originalEvent;
                if (e.key == page_close_key && e.newValue !== null)
                    if (page_ref != null && page_ref > +e.newValue)
                        --page_ref;
            });

            register_notify('ticket', {
                change: function (enabled) {
                    if (enabled)
                        increase_page_ref();
                }
            });

            $(window).on('beforeunload', function () {
                decrease_page_ref();
            });

            function ticket_status(ticket) {
                update_ticket_state(ticket.open);
                if (is_highest_ref())
                    notify('ticket', (ticket.open ? '{{ _('Reopened: ') }}' :
                        '{{ _('Closed: ') }}') + $title.text());
            }

            window.load_dynamic_update = function (last_msg) {
                return new EventReceiver(
                    "{{ EVENT_DAEMON_LOCATION }}", "{{ EVENT_DAEMON_POLL_LOCATION }}",
                    ['ticket-{{ ticket.id }}'], last_msg, function (message) {
                        console.log(message);
                        switch (message.type) {
                            case 'ticket-status':
                                ticket_status(message);
                                break;
                        }
                    }
                );
            }

            $(".ui.sidebox.sticky").sticky({
                context: '#messages',
                offset: 60
            });
        });
    </script>

    {% if last_msg %}
        <script type="text/javascript">
            $(function () {
                load_dynamic_update({{last_msg}});
            });
        </script>
    {% endif %}
{% endblock %}

{% block content_title %}
    <div class="status">
        <i class="fa {% if ticket.is_open %}fa-exclamation-circle{% else %}fa-check-circle-o{% endif %}"></i>
    </div>
    <div class="title">{{ ticket.title }}</div><small>#{{ ticket.id }}</small>
{% endblock %}

{% block body %}
    <div class="ui grid">
        <div class="twelve wide column">
            <div class="ui comments" id="messages" style="max-width:100%;">
                {% for message in messages %}
                    <div class="comment" id="message-{{ message.id }}" style="margin-bottom: 10px;">
                        <a href="{{ url('user_page', message.user.user.username) }}" class="avatar">
                            <img src="{{ gravatar(message.user) }}" class="gravatar">
                        </a>
                        <div class="content">
                            <a href="{{ url('user_page', message.user.user.username) }}" class="author username {{ message.user.css_class }}">{{ message.user.user.username }}</a>
                            <div class="metadata">
                                <span class="relative-time"></span>
                                <span class="message-date">{{ message.time|date('DATE_FORMAT') }}</span>
                                <span class="message-time">{{ message.time|time('TIME_FORMAT') }}</span>
                            </div>
                            <div class="ui text stacked padded segment">
                                {{ message.body|markdown('ticket', MATH_ENGINE)|reference|str|safe }}
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <div class="ui divider"></div>

                <div class="comment">
                    <a href="{{ url('user_page') }}" class="avatar">
                        <img src="{{ gravatar(request.user) }}" class="gravatar">
                    </a>
                    <div class="content">
                        <a href="{{ url('user_page') }}" class="author username {{ request.user.profile.css_class }}">{{ request.user.username }}</a>
                        <div class="ui text basic segment">
                            <form action="" method="post">
                                {% csrf_token %}
                                <div class="form-errors">
                                    {{ form.non_field_errors() }}
                                    {{ form.body.errors }}
                                </div>
                                <div class="body-block">{{ form.body }}</div>
                                <button type="submit" class="ui icon labeled submit primary button">
                                    <i class="send icon"></i>
                                    {{ _('Post') }}
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="four wide center aligned column">
            <div class="ui sidebox sticky">
                <h4 class="ui header">{{ _('Associated object') }}</h4>
                <p>
                    <a href="{{ ticket.linked_item.get_absolute_url() }}" class="item">
                        <b>{{ ticket.linked_item }}</b>
                    </a>
                </p>

                <div class="ui divider"></div>

                <h4 class="ui header">{{ _('Assignees') }}</h4>
                <p>
                    {% if assignees %}
                        {{ link_users(assignees) }}
                    {% else %}
                        <i>{{ _('No one is assigned.') }}</i>
                    {% endif %}
                </p>

                <div class="ui divider"></div>

                <button data-ajax="{{ url('ticket_close', ticket.id) }}" data-open="0" class="ui red button close-ticket"
                        {% if not ticket.is_open %}style="display: none"{% endif %}>{{ _('Close ticket') }}</button>
                <button data-ajax="{{ url('ticket_open', ticket.id) }}" data-open="1" class="ui green button open-ticket"
                        {% if ticket.is_open %}style="display: none"{% endif %}>{{ _('Reopen ticket') }}</button>

                {% if perms.judge.change_ticket or request.user.profile in assignees %}
                    <div class="ui divider"></div>

                    <h4 class="ui header">
                        {{ _('Assignee notes') }}
                        <a href="#" data-featherlight="{{ url('ticket_notes', ticket.id) }}" class="edit-notes">
                            <i class="fa fa-pencil"></i>
                        </a>
                    </h4>
                    <div id="ticket-notes">
                        <div{% if ticket.notes %} style="display: none"{% endif %} class="info-empty">
                            <i>{{ _('Nothing here.') }}</i>
                        </div>
                        <div class="info-real">{{ ticket.notes|linebreaks }}</div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
