{% extends "common-content.html" %}
{% block content_media %}
    {% include "comments/media-css.html" %}
    <style>
        .info-float a {
            vertical-align: middle;
        }

        .problem-clarification {
            border-bottom: 1px solid #ccc;
            margin-top: 1em;
            margin-bottom: 1em;
        }

        .clarifications-area h2 {
            margin-bottom: 20px;
        }

        .problem-clarification .body {
            display: inline-block;
            padding-left: 3em;
        }
    </style>
{% endblock %}

{% block content_js_media %}
    {% include "comments/media-js.html" %}
    <script>
        $(function () {
            $('a#clone-link').click(function (event) {
                event.preventDefault();
                if (confirm('Are you sure you want to clone?'))
                    $(this).closest("form").submit();
            })
        });
    </script>
{% endblock %}

{% block title_row %}
    <div class="">
        <h1 class="ui huge header">
            {{ title }}
            <small>
                {% if request.user.is_authenticated %}
                    {% if problem.id in completed_problem_ids %}
                        <a href="{{ url('user_submissions', problem.code, request.user.username) }}">
                            {% if problem.is_public or request.in_contest %}
                                <div class="ui green small label">해결</div>
                            {% else %}
                                <div class="ui green small icon label">
                                    <i class="fa fa-lock"></i> 성공
                                </div>
                            {% endif %}
                        </a>
                    {% elif problem.id in attempted_problems %}
                        <a href="{{ url('user_submissions', problem.code, request.user.username) }}">
                            {% if problem.is_public or request.in_contest %}
                                <div class="ui red small label">실패</div>
                            {% else %}
                                <div class="ui red small icon label">
                                    <i class="fa fa-lock"></i> 실패
                                </div>
                            {% endif %}
                        </a>
                    {% else %}
                        {% if problem.is_public or request.in_contest %}
                        {% else %}
                            <div class="ui small label">
                                <i class="fa fa-lock"></i>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </small>
        </h1>

        {% if has_pdf_render %}
            <span class="spacer"></span>
            <a href="{{ url('problem_pdf', problem.code) }}" class="view-pdf">
                <span class="pdf-icon">
                    <span class="fa fa-file-pdf-o pdf-icon-logo"></span>
                    <span class="pdf-icon-bar"></span>
                </span>
                {{ _('View as PDF') }}
            </a>
        {% endif %}
    </div>
{% endblock %}

{% block info_float %}
    {% if request.user.is_authenticated and request.in_contest and submission_limit %}
        {% if submissions_left > 0 %}
            <a href="{{ url('problem_submit', problem.code) }}" class="unselectable button full">
                {{ _('Submit solution') }}
            </a>
            <div class="submissions-left">
                {% trans trimmed counter=submissions_left %}
                    {{ counter }} submission left
                    {% pluralize %}
                    {{ counter }} submissions left
                {% endtrans %}
            </div>
        {% else %}
            <a class="unselectable button full disabled">{{ _('Submit solution') }}</a>
            <div class="no-submissions-left submissions-left">{{ _('0 submissions left') }}</div>
        {% endif %}
    {% else %}
        <a href="{{ url('problem_submit', problem.code) }}" class="unselectable button full">
            {{ _('Submit solution') }}
        </a>
    {% endif %}
    <hr>

    {% if request.user.is_authenticated and has_submissions %}
        <div>
            <a href="{{ url('user_submissions', problem.code, request.user.username) }}">{{ _('My submissions') }}</a>
        </div>
    {% endif %}
    <div><a href="{{ url('chronological_submissions', problem.code) }}">{{ _('All submissions') }}</a></div>
    <div><a href="{{ url('ranked_submissions', problem.code) }}">{{ _('Best submissions') }}</a></div>
    {% if editorial and editorial.is_public %}
        <hr>
        <div><a href="{{ url('problem_editorial', problem.code) }}">{{ _('Read editorial') }}</a></div>
    {% endif %}
    {% if can_edit_problem %}
        <hr>
        <div>
            <a href="{{ url('problem_ticket_list', problem.code) }}">{{ _('Manage tickets') }}
                {% if num_open_tickets %}<span class="badge">{{ num_open_tickets }}</span>{% endif %}
            </a>
        </div>
        <div><a href="{{ url('admin:judge_problem_change', problem.id) }}">{{ _('Edit problem') }}</a></div>
        {% if not problem.is_manually_managed %}
            <div><a href="{{ url('problem_data', problem.code) }}">{{ _('Edit test data') }}</a></div>
        {% endif %}
    {% endif %}

    {% if perms.judge.clone_problem %}
        <div>
            <form action="{{ url('problem_clone', problem.code) }}" method="post">
                {% csrf_token %}
                <a id="clone-link" href="#">{{ _('Clone problem') }}</a>
            </form>
        </div>
    {% endif %}
    <hr>
    <br>
    {% cache 86400 'problem_authors' problem.id LANGUAGE_CODE %}
        {% with authors=problem.authors.all() %}
            {% if authors %}
                <div class="problem-info-entry">
                    <i class="fa fa-pencil-square-o fa-fw"></i><span
                        class="pi-name">{% trans trimmed count=authors|length %}
                    Author:
                    {% pluralize count %}
                    Authors:
                {% endtrans %}</span>
                    <div class="pi-value authors-value">{{ link_users(authors) }}</div>
                </div>
            {% endif %}
        {% endwith %}
    {% endcache %}
    <br>
    {% if not contest_problem or not contest_problem.contest.hide_problem_tags %}
        <div id="problem-types">
            {% with types=problem.types_list %}
                <div class="toggle closed unselectable">
                    <i class="fa fa-chevron-right fa-fw"></i>{% trans trimmed count=problem.types_list|length %}
                    Problem type
                    {% pluralize count %}
                    Problem types
                {% endtrans %}
                </div>
                <div style="display:none" class="toggled">
                    {% for type in problem.types_list %}
                        <a href="#" class="ui basic label">{{ type }}</a>&nbsp;
                    {% endfor %}
                </div>
            {% endwith %}
        </div>
        <br>
    {% endif %}
    {% if show_languages %}
        <div id="allowed-langs">
            <div class="toggle open unselectable">
                <i class="fa fa-chevron-right fa-fw"></i>{{ _('Allowed languages') }}
            </div>
            <div style="margin-bottom:-1em" class="toggled">
                {% with usable=problem.usable_common_names, langs=problem.languages_list() %}
                    {% for lang in langs %}
                        {% if lang in usable %}
                            <span class="ui green basic label" style="margin-top: 5px;">{{ lang }}</span>
                        {% else %}
                            <span class="ui grey basic label" style="margin-top: 5px;">
                                <strike data-tooltip="{{ _('No %(lang)s judge online', lang=lang) }}">{{ lang }}</strike>
                            </span>
                        {% endif %}
                    {% endfor %}
                {% endwith %}
            </div>
        </div>
        <br>
    {% endif %}
{% endblock %}

{% block description %}
    <table class="ui compact center aligned very basic table">
        <thead>
        <tr>
            <th>
                <i class="fa fa-check fa-fw"></i> {{ _('Points:') }}
            </th>
            <th>
                <i class="fa fa-clock-o fa-fw"></i> {{ _('Time limit:') }}
            </th>
            <th>
                <i class="fa fa-server fa-fw"></i> {{ _('Memory limit:') }}
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                {% if contest_problem %}
                    {{ contest_problem.points }}{% if contest_problem.partial %} {{ _('(partial)') }}{% endif %}
                {% else %}
                    {{ problem.points|floatformat }}{% if problem.partial %} {{ _('(partial)') }}{% endif %}
                {% endif %}
            </td>
            <td>
                {{ problem.time_limit }}초
                <span class="problem-lang-limits">
                {% for name, limit in problem.language_time_limit %}
                    <div class="ui image label">
                        {{ name }}
                        <div class="detail">{{ limit }}초</div>
                    </div>
                {% endfor %}
                </span>
            </td>
            <div class="detail">
            <td>
                {{ problem.memory_limit|kbsimpleformat }}
                <span class="problem-lang-limits">
                {% for name, limit in problem.language_memory_limit %}
                    <div class="ui image label">
                        {{ name }}
                        <div class="detail">{{ limit|kbsimpleformat }}</div>
                    </div>
                {% endfor %}
            </td>
        </tr>
        </tbody>
    </table>

    {% cache 0 'problem_html' problem.id LANGUAGE_CODE %}
        {{ description|safe }}
    {% endcache %}

    {% with license=problem.license %}
        {% if license %}
            <span class="license">
            <a href="{{ url('license', license.key) }}">{{ license.display or license.name }}</a>
        </span>
        {% endif %}
    {% endwith %}
{% endblock %}

{% block post_description_end %}
    {% if request.user.is_authenticated and not request.user.profile.mute %}
        <a href="{{ url('new_problem_ticket', problem.code) }}" class="button clarify">
            {%- if contest_problem and contest_problem.contest.use_clarifications -%}
                {{ _('Request clarification') }}
            {%- else -%}
                {{ _('Report an issue') }}
            {%- endif -%}
        </a>
    {% endif %}
{% endblock %}

{% block comments %}
    {% if contest_problem and contest_problem.contest.use_clarifications %}
        <div class="clarifications-area">
            <h2><i class="fa fa-question-circle"></i> {{ _('Clarifications') }}</h2>
            {% if has_clarifications %}
                {% for clarification in clarifications %}
                    <div class="problem-clarification">
                        <div class="time">{{ relative_time(clarification.date) }}</div>
                        <span class="body">
                            {{ clarification.description|safe }}
                        </span>
                    </div>
                {% endfor %}
            {% else %}
                <p class="no-comments-message">{{ _('No clarifications have been made at this time.') }}</p>
            {% endif %}
        </div>
    {% else %}
        {% include "comments/list.html" %}
    {% endif %}
{% endblock %}

{% block bodyend %}
    {{ super() }}
    {% include "comments/math.html" %}
{% endblock %}
