.content-description {
  line-height: 1.5em;
  font-size: 1em;
  font-family: "Segoe UI", "Lucida Grande", Arial, sans-serif; }
  .content-description p {
    margin: 1em 0 !important;
    padding: 0 !important; }
  .content-description img {
    max-width: 100%;
    height: auto; }
  .content-description h1, .content-description h2, .content-description h3, .content-description h4, .content-description h5, .content-description h6 {
    font-weight: normal;
    color: #111;
    margin-bottom: 0.75em;
    padding: 0;
    background: 0; }
  .content-description h3, .content-description h4, .content-description h5, .content-description h6 {
    font-weight: bold; }
  .content-description h1 {
    font-size: 2.5em; }
  .content-description h2 {
    font-size: 2em; }
  .content-description h3 {
    font-size: 1.6em;
    margin: 0;
    padding: 0; }
  .content-description h4 {
    font-size: 1.4em;
    border-bottom: 1px solid #EEE;
    line-height: 1.225;
    padding-bottom: 0.3em;
    padding-top: 0.5em; }
  .content-description h5 {
    font-size: 1.15em;
    margin-top: 0; }
  .content-description h6 {
    font-size: 0.9em; }
  .content-description blockquote {
    color: #666;
    margin: 0;
    padding-left: 1.5em;
    border-left: 0.5em #EEE solid; }
  .content-description hr {
    display: block;
    height: 0;
    border: 0;
    font-style: italic;
    border-bottom: 1px solid #ccc;
    margin: 25px 0 20px 0;
    padding: 0; }
  .content-description pre, .content-description code, .content-description kbd, .content-description samp, .content-description span.code {
    color: #000;
    page-break-inside: avoid;
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    font-size: 0.98em; }
  .content-description code, .content-description span.code {
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace !important;
    margin: 0 2px;
    padding: 0 5px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    border-radius: 4px;
    font-size: 0.95em;
    color: #444; }
  .content-description pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 1.5em 0 1.5em 0;
    padding: 1em;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    color: black;
    border-radius: 4px; }
    .content-description pre code, .content-description pre div.code {
      border: 0;
      line-height: 1em;
      margin: 0;
      padding: 0;
      background: transparent;
      font-size: 1em;
      color: black; }
  .content-description b, .content-description strong {
    font-weight: bold; }
  .content-description dfn {
    font-style: italic; }
  .content-description ins {
    background: #ff9;
    color: #000;
    text-decoration: none; }
  .content-description mark {
    background: #ff0;
    color: #000;
    font-style: italic;
    font-weight: bold; }
  .content-description sub {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline; }
  .content-description sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    top: -0.5em; }
  .content-description sub {
    bottom: -0.25em; }
  .content-description ul, .content-description ol {
    padding: 0 0 0 2em !important; }
  .content-description li p:last-child {
    margin: 0; }
  .content-description dd {
    margin: 0 0 0 2em; }
  .content-description img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle; }
  .content-description td {
    vertical-align: top; }

.display-math {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

@media (min-width: 700px) {
  #common-content {
    display: flex;
    flex-direction: row-reverse; }

  #content-left {
    flex: 86%;
    width: 100%; }
    #content-left.split-common-content {
      max-width: 86%; }
    #content-left .content-description {
      width: 100%; }

  #content-right {
    flex: 14%;
    max-width: 12.5em;
    min-width: 8em;
    padding-left: 1.5em;
    padding-top: 1em; }
    #content-right .info-float {
      float: none;
      padding: 10px 0 0;
      position: sticky;
      top: 60px;
      width: 100%; } }
@media not all and (min-width: 700px) {
  #content-right .info-float {
    float: none;
    width: 100% !important;
    position: static !important;
    box-sizing: border-box; } }
a.view-pdf {
  padding-top: 0.6em;
  display: inline-block; }

.problem-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .problem-title .spacer {
    display: inline-block;
    flex: 1 1 1px; }

.info-float .fa {
  color: #000;
  padding-right: 0.2em; }

#problem-types .toggled, #allowed-langs .toggled {
  margin-left: 1.3em; }

/*# sourceMappingURL=content-description.css.map */
