<div class="ui right floated pagination inverted menu" id="pagination" style="margin: 1em auto;">
    {% if page_obj.has_previous() %}
        {% if page_obj.previous_page_number() == 1 and first_page_href != None %}
            <a class="icon item" href="{{ first_page_href }}">
                <i class="left chevron icon"></i>
            </a>
        {% else %}
            <a class="item" href="{{ page_prefix or '' }}{{ page_obj.previous_page_number() }}{{ page_suffix or '' }}">
                <i class="left chevron icon"></i>
            </a>
        {% endif %} 
    {% endif %}

    {% for page in page_obj.page_range %}
        {% if not page %}
            <a href="#" class="item">...</a>
        {% else %}
            <a class="{% if page == page_obj.number %}yellow active {% endif %}item" href="
                {%- if page == 1 and first_page_href != None -%}
                    {{ first_page_href }}
                {%- else -%}
                    {{ page_prefix or '' }}{{ page }}{{ page_suffix or '' }}
                {%- endif -%}
            ">{{ page }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next() %}
        <a class="icon item" href="{{ page_prefix or '' }}{{ page_obj.next_page_number() }}{{ page_suffix or '' }}">
            <i class="right chevron icon"></i>
        </a>
    {% endif %}
</div>

