<div class="ui comments" style="padding-top: 1em;">
    <h3 class="ui header">
        <i class="talk outline icon"></i>
        {{ _('Comments') }}
    </h3>
    {% if has_comments %}
        {% set logged_in = request.user.is_authenticated %}
        {% set profile = request.user.profile if logged_in else None %}
        {% for node in mptt_tree(comment_list) recursive %}
            {% if not node.hidden or perms.judge.change_comment %}
                <div class="comment {% if node.score < -2 %}censored{% endif %}" id="comment-{{ node.id }}" style="position: inherit">
                    {% with author=node.author, user=node.author.user %}
                        <a href="{{ url('user_page', user.username) }}" class="avatar">
                            <img src="{{ gravatar(author, 135) }}">
                        </a>
                    {% endwith %}
                    <div class="content">
                        <span class="author">
                            {{ link_user(node.author) }}
                        </span>
                        <div class="metadata">
                            <span class="date">
                                {{ relative_time(node.time, abs=_('commented on {time}'), rel=_('commented {time}')) }}
                            </span>
                            {% if node.hidden %}
                            <span class="public">
                                <b>(hidden)</b>
                            </span>
                            {% endif %}
                        </div>
                        {% if node.score < -10 %}
                            <div id="comment-cover-{{ node.id }}" class="text" style="background-color: rgba(0,0,0,.2)">
                                <p>The comment is hidden because of too negative feedback, click <a href="javascript:show_comment({{ node.id }})">here</a> to view it.</p>
                            </div>
                            <div id="comment-hidden-{{ node.id }}" class="text" style="display: none">
                                {{ node.body|safe }}
                            </div>
                        {% else %}
                            <div class="text">
                            {% autoescape true %}
                                {{ node.body|safe }}
                            {% endautoescape %}
                            </div>
                        {% endif %}
                        <div class="actions">
                            {% if logged_in %}
                                <a href="javascript:comment_upvote({{ node.id }})" class="upvote-link{% if node.vote_score == 1 %} voted{% endif %}" style="margin-right: 0">
                                   <i class="fa fa-thumbs-up fa-fw"></i>&nbsp;
                                </a>
                            {% else %}
                                <a href="javascript:alert('{{ _('Please login to vote')|escapejs }}')" title="{{ _('Please login to vote') }}" class="upvote-link{% if node.vote_score == 1 %} voted{% endif %}" style="margin-right: 0">
                                   <i class="fa fa-thumbs-up fa-fw"></i>&nbsp;
                                </a>
                            {% endif %}
                            <span class="comment-score">{{ node.score }}</span>
                            {% if logged_in %}
                                <a href="javascript:comment_downvote({{ node.id }})" class="downvote-link{% if node.vote_score == -1 %} voted{% endif %}" style="margin-left: 2px">
                                   <i class="fa fa-thumbs-down fa-flip-horizontal fa-fw"></i>&nbsp;
                                </a>
                            {% else %}
                                <a href="javascript:alert('{{ _('Please login to vote')|escapejs }}')" title="{{ _('Please login to vote') }}" class="downvote-link{% if node.vote_score == -1 %} voted{% endif %}" style="margin-left: 2px">
                                   <i class="fa fa-thumbs-down fa-flip-horizontal fa-fw"></i>&nbsp;
                                </a>
                            {% endif %}
                            &nbsp;
                            <a href="javascript:comment_set_parent({{ node.id }})" title="{{ _('Reply') }}" class="reply"><i class="fa fa-reply"></i></a>

                            {% if perms.judge.change_comment %}
                                <a href="javascript:" title="{{ _('Hide') }}" data-id="{{ node.id }}"
                                   class="hide-comment"><i class="fa fa-trash fa-fw"></i></a>
                                <a href="{{ url('admin:judge_comment_change', node.id) }}"
                                   title="{{ _('Admin') }}"><i class="fa fa-cog fa-fw"></i></a>
                            {% endif %}
                        </div>
                    </div>

                    {% with children=node.get_children() %}
                        {% if children %}
                            <div class="comments" style="padding-bottom: 0; margin-left: 2.5em;">{{ loop(children) }}</div>
                        {% endif %}
                    {% endwith %}
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
        <p class="no-comments-message">{{ _('There are no comments at the moment.') }}</p>
    {% endif %}
</div>

{% if request.user.is_authenticated and comment_form %}
<div class="ui vertical segment">
    {% if is_new_user %}
        <div class="ui info message">
            <i class="close icon"></i>
            <p>{{ _('You need to have solved at least one problem before your voice can be heard.') }}</p>
        </div>
    {% else %}

    <form id="comment-submit" class="ui reply form" method="POST">
        {% csrf_token %}
        {{ comment_form.parent }}

        {% if comment_form.errors %}
            <div class="ui error message">
                <i class="close icon"></i>
                {{ comment_form.non_field_errors() }}
                {{ comment_form.parent.errors }}
                {% if comment_form.body.errors %}
                    {{ _('Invalid comment body.') }}
                {% endif %}
            </div>
        {% endif %}

        <div class="field">
            {{ comment_form.body }}
        </div>
        <button type="submit" class="ui primary submit labeled icon button">
            <i class="icon edit"></i> {{ _('Post!') }}
        </button>
    </form>
    {% endif %}
</div>
{% endif %}

