{% extends "user/user-base.html" %}

{% block user_media %}
    {{ form.media.css }}
{% endblock %}

{% block js_media %}
    {{ form.media.js }}
{% endblock %}

{% block title_ruler %}{% endblock %}

{% block title_row %}
    {% set tab = 'edit' %}
    {% set user = request.user.profile %}
{% endblock %}

{% block body %}
    <div class="ui vertical segment" style="border:0; padding: 5em 0;">
        <div class="ui stacked segment" style="max-width: 480px; margin: 0 auto;">
            <form action="" method="post" class="ui activation form">
                <div class="ui red message">
                    <p>리트머스 서비스를 이용하기 위해서, 이름과 학번을 입력해주세요.</p>
                </div>
                <div class="ui error message"></div>
                {% if form.errors %}
                    <div class="ui red message">
                        <div class="alert alert-danger alert-dismissable">
                            <a href="#" class="close"><i class="icon close"></i></a>
                            {{ form.non_field_errors() }}
                        </div>
                    </div>
                {% endif %}

                {% csrf_token %}

                <div class="field">
                    <label>{{ _('Student Name') }}:</label>
                    {{ form.name }}
                </div>

                <div class="field">
                    <label>{{ _('Student ID') }}:</label>
                    {{ form.student_id }}
                </div>

                <div class="ui divider"></div>

                <button type="submit" class="ui submit primary button">{{ _('Update profile') }}</button>
            </form>
        </div>
    </div>
    <script type="text/javascript">$(document).ready(function(){$(".activation.form").form({fields:{name:'empty', student_id:['minLength[5]', 'number']}});})</script>
{% endblock %}
